body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
}

h1 {
    color: #480c63;
}


h2 {
    color: #832cab;
}

mark {
    background-color: pink;
    padding: 2px 4px;
}

details {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #d7a8ed;
}

details[open] {
    background-color: #e0caeb;
}

figure {
    max-width: 400px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

figcaption {
    background-color: #e0caeb;
    padding: 8px;
    text-align: center;
    font-style: italic;
}

blockquote {
    border-left: 5px solid #333;
    margin: 20px 0;
    padding-left: 15px;
    font-style: italic;
    background-color: #f9f9f9;
}
